# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# Model files (optional)
model.pkl
encoder.pkl
symptoms_list.pkl

# VS Code settings
.vscode/

# Logs
*.log